
/*	================================================================================
 *
 *	GRIDS
 *
 *	================================================================================ */


/*	--------------------------------------------------------------------------------
 *	FLOATING GRID
 */

.grid {
	position: relative;

	.row:after {
		content: '';
		display: block;
		clear: both;
	}

	[class*='col-'] {
		float: left;
		min-height: 1px;
	}
}


/*	--------------------------------------------------------------------------------
 *	FLEX GRID
 */

.flex-grid {

	.row {
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;

		& > * {
			flex: 0 0 auto;
		}
	}
}


/*	--------------------------------------------------------------------------------
 *	COLUMN SiZES FOR BOTH GRID SYSTEMS
 */

.grid,
.flex-grid {

	.col-1  { width: 8.333%;  flex-basis: 8.333%; }
	.col-2  { width: 16.667%; flex-basis: 16.66%; }
	.col-3  { width: 25%;     flex-basis: 25%; }
	.col-4  { width: 33.333%; flex-basis: 33.333%; }
	.col-5  { width: 41.667%; flex-basis: 41.667%; }
	.col-6  { width: 50%;     flex-basis: 50%; }
	.col-7  { width: 58.333%; flex-basis: 58.333%; }
	.col-8  { width: 66.667%; flex-basis: 66.667%; }
	.col-9  { width: 75%;     flex-basis: 75%; }
	.col-10 { width: 83.333%; flex-basis: 83.333%; }
	.col-11 { width: 91.667%; flex-basis: 91.667%; }
	.col-12 { width: 100%;    flex-basis: 100%; }

	.col-hide { display: none; }


	/* Screen size: LG */

	@media screen and (width: $breakpoint-h-lg) {

		.col-lg-1  { width: 8.333%;  flex-basis: 8.333%; }
		.col-lg-2  { width: 16.667%; flex-basis: 16.667%; }
		.col-lg-3  { width: 25%;     flex-basis: 25%; }
		.col-lg-4  { width: 33.333%; flex-basis: 33.333%; }
		.col-lg-5  { width: 41.667%; flex-basis: 41.667%; }
		.col-lg-6  { width: 50%;     flex-basis: 50%; }
		.col-lg-7  { width: 58.333%; flex-basis: 58.333%; }
		.col-lg-8  { width: 66.667%; flex-basis: 66.667%; }
		.col-lg-9  { width: 75%;     flex-basis: 75%; }
		.col-lg-10 { width: 83.333%; flex-basis: 83.333%; }
		.col-lg-11 { width: 91.667%; flex-basis: 91.667%; }
		.col-lg-12 { width: 100%;    flex-basis: 100%; }

		.col-lg-hide { display: none; }

	}


	/* Screen size: MD */

	@media screen and (width: $breakpoint-h-md) {

		.col-md-1  { width: 8.333%;  flex-basis: 8.333%; }
		.col-md-2  { width: 16.667%; flex-basis: 16.667%; }
		.col-md-3  { width: 25%;     flex-basis: 25%; }
		.col-md-4  { width: 33.333%; flex-basis: 33.333%; }
		.col-md-5  { width: 41.667%; flex-basis: 41.667%; }
		.col-md-6  { width: 50%;     flex-basis: 50%; }
		.col-md-7  { width: 58.333%; flex-basis: 58.333%; }
		.col-md-8  { width: 66.667%; flex-basis: 66.667%; }
		.col-md-9  { width: 75%;     flex-basis: 75%; }
		.col-md-10 { width: 83.333%; flex-basis: 83.333%; }
		.col-md-11 { width: 91.667%; flex-basis: 91.667%; }
		.col-md-12 { width: 100%;    flex-basis: 100%; }

		.col-md-hide { display: none; }

	}


	/* Screen size: SM */

	@media screen and (width: $breakpoint-h-sm) {

		.col-sm-1  { width: 8.333%;  flex-basis: 8.333%; }
		.col-sm-2  { width: 16.667%; flex-basis: 16.667%; }
		.col-sm-3  { width: 25%;     flex-basis: 25%; }
		.col-sm-4  { width: 33.333%; flex-basis: 33.333%; }
		.col-sm-5  { width: 41.667%; flex-basis: 41.667%; }
		.col-sm-6  { width: 50%;     flex-basis: 50%; }
		.col-sm-7  { width: 58.333%; flex-basis: 58.333%; }
		.col-sm-8  { width: 66.667%; flex-basis: 66.667%; }
		.col-sm-9  { width: 75%;     flex-basis: 75%; }
		.col-sm-10 { width: 83.333%; flex-basis: 83.333%; }
		.col-sm-11 { width: 91.667%; flex-basis: 91.667%; }
		.col-sm-12 { width: 100%;    flex-basis: 100%; }

		.col-sm-hide { display: none; }

	}


	/* Screen size: XS */

	@media screen and (width: $breakpoint-h-xs) {

		.col-xs-1  { width: 8.333%;  flex-basis: 8.333%; }
		.col-xs-2  { width: 16.667%; flex-basis: 16.667%; }
		.col-xs-3  { width: 25%;     flex-basis: 25%; }
		.col-xs-4  { width: 33.333%; flex-basis: 33.333%; }
		.col-xs-5  { width: 41.667%; flex-basis: 41.667%; }
		.col-xs-6  { width: 50%;     flex-basis: 50%; }
		.col-xs-7  { width: 58.333%; flex-basis: 58.333%; }
		.col-xs-8  { width: 66.667%; flex-basis: 66.667%; }
		.col-xs-9  { width: 75%;     flex-basis: 75%; }
		.col-xs-10 { width: 83.333%; flex-basis: 83.333%; }
		.col-xs-11 { width: 91.667%; flex-basis: 91.667%; }
		.col-xs-12 { width: 100%;    flex-basis: 100%; }

		.col-xs-hide { display: none; }

	}

}