
/*	================================================================================
 *
 *	NORMALISE
 *
 *	No classnames allowed in this file
 *
 *	================================================================================ */

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 100%;
	outline: none;
}

html {
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: sans-serif;
}

body {
	min-height: 100%;
	line-height: 1;
}

*:before, *:after { box-sizing: inherit; }

article, aside, details, figure, figcaption, header, footer, hgroup, menu, nav, section, summary, hr { display: block; }

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

img { border: none; }

svg:not(:root) { overflow: hidden; } /* Correct overflow not hidden in IE 9/10/11. */


/*	--------------------------------------------------------------------------------
 *	TYPOGRAPHY, LISTS, LINKS
 */

p:not(:last-child) { margin-bottom: 1em; }

del { text-decoration: line-through; }

abbr[title], dfn[title] {
	border-bottom: 1px dotted rgba(0,0,0,.5);
	cursor: help;
}

strong, .is-bold	{ font-weight: bold; }
u, .is-underlined	{ text-decoration: underline; }

sub, sup {
	font-size: .8em;
	line-height: 0;
	vertical-align: baseline;
	position: relative;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

a {
	text-decoration: none;
	cursor: pointer;
	background-color: transparent; /* Remove the gray background color from active links in IE 10. */
}


/*	--------------------------------------------------------------------------------
 *	TABLES
 */

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

th, td { text-align: left; }

input[type="radio"],
input[type="checkbox"] {
	position: relative;
	top: -1px;
	vertical-align: middle;
}


/*	--------------------------------------------------------------------------------
 *	FORMS
 */

button,
.btn,
label,
input[type=button],
input[type=submit],
input[type=file] {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

button:hover,
.btn:hover,
label:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=file]:hover {
	z-index: +1;
}

[disabled] { cursor: default; }