
/*	================================================================================
 *	CONFIGURATION
 *	================================================================================ */

$color-dark			: #222222;
$color-gray			: #f1f1f1;
$color-gray-dark	: #aeaeae;
$color-orange		: #ffa000;
$color-blue			: #4993ee;
$color-red			: #e0360e;

$color-line			: #d7d7d7;

$gutter				: 40px;



/*	================================================================================
 *	UTILITIES
 *	================================================================================ */


.u_pad {
	&			{ padding: $gutter; }
	&-top		{ padding-top: $gutter; }
	&-right		{ padding-right: $gutter; }
	&-bottom	{ padding-bottom: $gutter; }
	&-left		{ padding-left: $gutter; }
}

.u_line {
	&-left		{ border-left: 1px solid $color-line; }
	&-right		{ border-right: 1px solid $color-line; }
	&-top		{ border-top: 1px solid $color-line; }
	&-bottom	{ border-bottom: 1px solid $color-line; }
}

.u_box-shadow-1 { box-shadow: 0 1px 1px rgba(0,0,0,.15), 0 2px 30px rgba(0,0,0,.1); }


/*	--------------------------------------------------------------------------------
 *	TABLES
 */

th {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

td {
	padding-top: 8px;
	padding-bottom: 8px;
}

table.u_lines {
	&_all {
		td, th { border: 1px solid $color-line; }
	}

	&_horizontal {
		th { border-bottom: 2px solid $color-line; }
		td { border-bottom: 1px solid $color-line; }
	}
}



/*	================================================================================
 *	STARTING STYLES
 *	================================================================================ */


body {
	font-family: 'Segoe UI', 'Segoe', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #373737;
}

hr { border-color: $color-line; }



/*	================================================================================
 *	LAYOUT ELEMENTS
 *	================================================================================ */


.wrapper {
	margin: 0 auto;
	padding: $gutter;
	width: 1000px;
	max-width: 100%;
}

.c_sidebar {
	width: 400px;
	min-height: 100vh;
	font-size: 14px;
	line-height: 20px;

	&.docked-left {
		float: left;
		left: 0;
	}
	&.docked-right {
		float: right;
		right: 0;
	}

	@media screen and (max-width: $breakpoint-h-ul) {
		width: 350px;
	}

	@media screen and (max-width: $breakpoint-h-xl) {
		padding: $gutter/2 $gutter/2 0 $gutter/2;
		width: 300px;
	}

	@media screen and (max-width: $breakpoint-h-md) {
		float: none;
	}
}


.c_content {
	width: calc(100% - 400px);
	height: 100%;

	&.docked-right {
		float: right;
		right: 0;
	}
	&.docked-left {
		float: left;
		left: 0;
	}

	@media screen and (max-width: $breakpoint-h-ul) {
		width: calc(100% - 350px);
	}

	@media screen and (max-width: $breakpoint-h-xl) {
		width: calc(100% - 300px);
	}

	@media screen and (max-width: $breakpoint-h-md) {
		float: none;
		position: static !important;
		padding: $gutter/2 $gutter/2 $gutter/2 $gutter/2;
		width: auto;
		min-height: auto;
	}
}


.u_inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}



/*	================================================================================
 *	OBJECTS
 *	================================================================================ */


.o_options-bar {
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #fff;
	z-index: +1;

	.logo {
		float: left;

		svg {
			margin-top: 25px;
			margin-right: 20px;
			float: left;
			width: 27px;
			height: 18px;
		}

		h1 {
			float: left;
			margin: 16px 0 0 0;
			font-size: 18px;
			font-weight: normal;
			color: #7b7b7b;
		}
	}

	.menu {
		float: right;
		height: 100%;
		list-style: none;

		& > li {
			height: 100%;
			display: inline-block;
			vertical-align: middle;

			& > a {
				display: block;
				position: relative;
				padding: 18px 16px 0 16px;
				height: 100%;
				font-size: 15px;
				line-height: 30px;
				color: #7b7b7b;
				transition: all .2s ease-out;

				&:hover { color: #000; }

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 50%;
					height: 3px;
					width: 100%;
					opacity: 0;
					background-color: $color-blue;
					transform: translateX(-50%) scaleX(0);
					transition: all .2s ease-out;
				}

				&:hover:after {
					opacity: 1;
					transform: translateX(-50%) scaleX(1);
				}
			}
		}

		.badge {
			.badge-photo {
				display: inline-block;
				margin-right: 8px;
				vertical-align: middle;
				width: 30px;
				height: 30px;
				background-color: $color-gray;
			}

			ul {
				list-style: none;
				visibility: hidden;
				opacity: 0;
				background-color: #fff;
				transition: all .2s;
				border-color: $color-line;
				border-style: solid;
				border-width: 0 1px 1px 1px;

				a {
					display: block;
					padding: 12px 12px;
				}
			}

			&:hover {
				ul {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}

.o_sample-text {
	font-size: 14px;
	line-height: 20px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 40px;
		left: 0;
		right: 0;
		z-index: +1;
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
	}
}


.o_tabs {
	margin-top: 20px;
	margin-bottom: 10px;
	height: 40px;
	border-bottom: 1px solid #d7d7d7;

	p { font-weight: bold; }

	ul {
		height: 100%;
		list-style-type: none;

		li {
			margin-left: 10px;
			float: left;
			height: 100%;

			&:last-child { margin-right: 10px; }

			a {
				display: block;
				padding: 12px 20px 0 20px;
				height: 100%;
				border: 1px solid #d7d7d7;
				border-bottom: 0;
				color: #484848;
				background-color: #fff;
				transition: all .2s;
			}

			&.is-active {
				height: calc(100% + 1px);

				a { cursor: default; }
			}

			&:not(.is-active) a:hover {
				margin-top: -4px;
				height: calc(100% + 4px);
				background-color: #f2f2f2;
			}
		}
	}

	&.with-caption {
		p { float: left; }
		ul { float: right; }
	}
}


/*	================================================================================
 *	THEMES
 *	================================================================================ */



/*	--------------------------------------------------------------------------------
 *	Theme : DARK
 */

.t_dark			{
	background-color: $color-dark;

	h1 { color: #fff; }
	h2, h3, h4, h5, h6 { color: #a7a7a7; }

	p { color: #c6c6c6; }

	a {
		color: #2bc1ff;

		&:hover { color: #82daff; }
	}

	label { color: #fff; }

	input[type=text],
	input[type=file],
	input[type=password],
	textarea,
	select {
		border-color: #6b6b6b;
		color: #fff;

		&:focus {
			border-color: #fff;
			background-color: #202020;
		}

		&.is-error { border-color: $color-red; }
	}

	hr { border-color: $color-line; }
}


.t_white		{ background-color: #fff; }
.t_orange		{ background-color: $color-orange; }
.t_gray			{ background-color: $color-gray; }
.t_gray-dark	{ background-color: $color-gray-dark; }
.t_blue			{ background-color: $color-blue; }



/*	================================================================================
 *	GRIDS
 *	================================================================================ */


.flex-grid.u_gutter {

	.row {
		margin-left: -$gutter/2;
		margin-right: -$gutter/2;

		[class*='col-'] {
			padding-left: $gutter/2;
			padding-right: $gutter/2;
		}
	}
}



/*	================================================================================
 *	TYPOGRAPHY
 *	================================================================================ */


h1 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: #373737;
	font-size: 34px;
	font-weight: normal;
	line-height: 36px;
}

h2 {
	margin-bottom: 22px;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #373737;
}

h3 {
	margin-bottom: 22px;
	font-size: 23px;
	line-height: 28px;
	font-weight: normal;
	color: #2e2e2e;
}

h4 {
	margin-bottom: 30px;
	font-size: 19px;
	line-height: 25px;
	font-weight: bold;
}

h5 {
	margin-bottom: 30px;
	font-size: 19px;
	line-height: 25px;
	font-weight: normal;
}

h6 {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p {
	line-height: 22px;
}


/*	================================================================================
 *	FORMS
 *	================================================================================ */


form {
	margin-bottom: 20px;
	padding-top: 20px;
}

label,
.label {
	display: block;
	overflow: hidden;
	margin-bottom: 14px;
	font-size: 14px;
}

input[type=text],
input[type=file],
input[type=password],
textarea,
select {
	border-width: 1px;
	border-style: solid;
	border-color: $color-line;
	margin-top: 8px;
	padding: 10px 10px 10px 14px;
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	transition: all .2s;
	float: left;
	text-align: left;
	background: none;
	color: inherit;

	&:focus { border-color: #a0a0a0; }

	&:disabled { color: #9e9e9e; }

	&.is-error { border-color: $color-red; }
}

input[type=file] { padding-top: 0; }

button {
	position: relative;
	padding: 0 30px;
	height: 40px;
	border: 2px solid $color-blue;
	background-color: transparent;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
	transition: all .2s;
	text-transform: uppercase;
	letter-spacing: 1px;

	&:hover {
		color: #fff;
		background-color: #06a1e1;
	}
}



/*	================================================================================
 *	LINKS
 *	================================================================================ */


a {
	color: #06a1e1;

	&:hover { color: #12b8fd; }
}



/*	================================================================================
 *	OTHER ELEMENTS
 *	================================================================================ */


hr { margin-bottom: 20px; }