
/*	================================================================================
 *	LAYOUT SETTINGS
 *	This variables are used for both base and work files
 *	================================================================================ */


/*	--------------------------------------------------------------------------------
 *	BREAKPOINTS SIZES
 */

$breakpoint-h-ul	: 1520px; // Ultra large
$breakpoint-h-xl	: 1280px; // Extra large
$breakpoint-h-lg	: 980px;  // large
$breakpoint-h-md	: 800px;  // Medium
$breakpoint-h-sm	: 640px;  // Small
$breakpoint-h-xs	: 480px;  // Extra small

$breakpoint-v-lg	: 780px;  // Large
$breakpoint-v-md	: 700px;  // Medium
$breakpoint-v-sm	: 620px;  // Small